.check-menu{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__label{
    border: 1px solid #F2F3F4;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 28px;
    display: flex;
    align-items: center;
    gap: 22px;
    flex: 1 0 520px;
    max-width: 520px;
    transition: all .3s ease;
    position: relative;
    &:hover{
      background: #FFFFFF;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all .3s ease;
      cursor: pointer;
      .form-menu__arrow{
        background-image: url("../img/arrow-active.svg");
      }

    }
  }
  &__img{
    position: relative;
    width: 100px;
    height: 100px;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: linear-gradient(180deg, #F2F3F4 0%, rgba(242, 243, 244, 0) 100%);
      filter: drop-shadow(0px -5px 10px rgba(0, 0, 0, 0.05));
      border-radius: 100px;
      width: 100%;
      height: 100%;
    }
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #fff;
      border-radius: 100px;
      width: 69px;
      height: 69px;
    }
    img{
      z-index: 1;
      position: relative;
    }
  }

  &__name{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
  }
  /* для элемента input c type="radio" */
  .custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;

  }

  .custom-radio>span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translate(0,-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #FD7400;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio>input:not(:disabled):active+span::before {
    background-color: #FD7400;
    border-color: #FD7400;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio>input:checked+span::before {
    border-color: #FD7400;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-7 -7 14 14'%3e%3ccircle r='7' fill='%23FD7400'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio>input:disabled+span::before {
    background-color: #e9ecef;
  }
}