.fishing-hero{
  width: 100%;
  margin-top: 100px;
  &__body{
    text-align: center;
  }
  &__img{
    margin-bottom: 68px;
    text-align: right;
  }
  .btn{
    display: inline-block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px 40px;
    line-height: 1.1;
  }
}