.fishing-form{
  width: 100%;
  margin-bottom: 30px;
  &__body{

  }
  &__row{
    max-width: 1120px;
    margin: 0 auto;
    padding: 34px 16px 50px;

  }
  &__title{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #333333;
    margin-bottom: 22px;
  }
  &__tab{
    display: none;
    background-color: #fff;
    border-radius: 20px;
  }
  &__catalog{
    margin-bottom: 30px;
  }
  &__itog{
    border-top: 1px solid #EEEEEE;
    padding: 22px;
  }
  @include r(767){
    &__title{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
}