.product-selection{
  &__header{
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__title{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #333333;

  }
  &__clear{
    position: absolute;
    right: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #666666;
    background-image: url("../img/clear.svg");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: left;
    padding-left: 18px;
  }
  &__body{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__col{
    flex: 1 0 190px;
  }
  &__name{
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: #999999;
    padding: 40px;
  }
  &__add{
    display: block;
    background-color: transparent;
    background-image: url("../img/add.svg");
    width: 50px;
    height: 50px;
    border: none;
    margin: 10px auto;
  }
}